
@media screen and (min-width: 800px) {
  .googleMap {
    width: 800px;
    height: 300px;
    border: solid black 5px;
  }
}

@media screen and (max-width: 799px) {
  .googleMap {
    width: 100%;
    height: auto;
  }

}
