@media screen and (max-width: 799px) {
  #cardContainer {
    margin-top: 400px !important;
    border: solid black 5px;
    justify-content: left;
    width: 16rem !important;
    /* position: sticky; */
    /* top: 33%; */
  }

  #centerDiv {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 35px;
    /* justify-content: right !important; */
    margin-top: 50px;
    /* margin-left: 300px; */
    /* position: relative; */
    /* z-index: 1; */
    /* display: none !important; */
  }

  #contentDiv {
    width: auto;
    height: auto;
  }
}


#centerDiv {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 35px;
  justify-content: right !important;
  margin-top: -300px ;
  margin-left: 300px;
  position: absolute;
  z-index: 1;
}

@media screen and (min-width: 800px) {
  #cardContainer {
    border: solid black 5px;
    justify-content: left;
    width: 16rem !important;
    position: sticky;
    top: 33%;
    overflow: auto;
  }



}
