.foodBanks {
  width: 800px;
  height: 300px;
  border: solid black 5px;

} 


#centerTable {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 35px;
  justify-content: right !important;
  margin-top: 30vh !important;
  /* margin-left: 30vw !important; */

  position: relative;
  z-index: 1;
}


