#centerDiv {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 35px;
  justify-content: center !important;
  margin-top: 50px;
  margin-left: 260px !important;
  position: relative;
}
