#about {
  background-image: url("../../AdobeStock_336228679.jpeg");
}
#about {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

#text {
  margin-top: 40%;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 500px;
  padding: 40px;
  display: 30px;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 80%;
  position: static;
  font-size: 24px;
  z-index: 1;
}
